:root {
  /* Main colors found at: https://coolors.co/533747-5f506b-6a6b83-76949f-86bbbd */
  --off-gray: #c6c5b9;
  --light-teal: #62929e;
  --pale-teal: #4a6d7c;
  --army-green: #393a10;
  --gray-teal: #475657;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'B612', 'Lobster', cursive;
}

h2 {
  color: #4a6d7c;
}

header h2 {
  color: #cec8ff;
}

.site-footer {
  background-image: linear-gradient(var(--light-teal), white);
  padding: 20px 0;
}

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(
    to right,
    var(--pale-teal),
    var(--light-teal)
  );
  color: white;
  margin: 0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: var(--off-gray);
}

#accordian a {
  text-decoration: none;
  color: inherit;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.card-header {
  background-color: var(--light-teal);
}

/* .carousel {
  border: solid #5637dd;
} */
